@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@00&display=swap');
body {
    font-family: 'Anonymous Pro', monospace;
    margin: 0;
}

* {
box-sizing: border-box;
}

.column {
float: left;
width: 50%;
padding: 10px;
height: 100%;
}

.row:after {
content: "";
display: table;
clear: both;
}

@media screen and (max-width: 600px) {
.column {
width: 100%;
height: 25%;
}
}
.center h1 {
font-size: 60px;
margin: 0;
color: #9a8194;
text-align: center;
}
.center {
padding: 45% 0;
}
.center2 {
    padding: 40% 0;
    }
.center p {
color: #a6a6a4;
font-size: 20px;
font-weight: 600;
text-align: center;

}
.center2 h1 {
    font-size: 50px;
    margin: 0;
    color: #9a8194;
    text-align: center;
    }
    .center2 p {
        color: #a6a6a4;
        font-size: 30px;
        font-weight: 600;
        text-align: center;
        
        }
nav a {
font-size: 25px;
text-decoration: none;
color: #a6a6a4;
transition: 0.3s;
}
@media only screen and (max-width: 600px) {
nav a {
    text-align: center;
}
}
nav a:hover {
color: #726a95;
}
nav {
padding-left: 30%;
text-align: left;
}
@media screen and (max-width: 600px) {
nav {
    padding-left: 0;
    text-align: center;
}
}
header {
    padding-top: 150px;
    padding-bottom: 150px;
}
header h1 {
    font-size: 90px;
    margin: 0;
    color: #9a8194;
    text-align: center;
    }

    header p {
    color: #a6a6a4;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    }

    .main {

        text-align: center;
        margin-left: 30%;
        margin-right: 30%;
    }
    @media screen and (max-width: 600px) {
        .main {
            margin-left: 15%;
            margin-right: 15%;
        }
        }
    .main h1 {
        text-align: center;
        font-size: 50px;
        margin: 0 0 10px;
        padding: 0 0 10px;
        position: relative;
        color: #3f3f44;
        margin-bottom: 50px;
    }
    
    .main h1::after {
        background-color: #9a8194;
        bottom: 0;
        content: '';
        display: block;
        height: 4px;
        left: 50%;
        position: absolute;
        transform: translate(-50%,0);
        width: 75px;
    }
    .main p {
        font-size: 20px;
        color: #a6a6a4;
        font-weight: 600;
    }
    .main a{
        font-size: 25px;
        text-decoration: none;
        color: #9a8194;
        transition: 0.3s;
        }
        .main a:hover {
        color: #726a95;
        }
.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    background-color: #3f3f44;
    color: white;
    transition: 0.3s;
}
.fa:hover {
    background-color: #a6a6a4;
}

.btn {
    position: fixed;
    top: 10;
    left: 10;
    font-size: 25px;
    text-decoration: none;
    color: #9a8194;
    transition: 0.3s;
}